@import '../../default.scss';

.example-box-container {
  margin-bottom: 10px;
  .example-box-label {
    font-size: 30px;
    color: $goalie-desc-font;
    line-height: 30px;
    margin-bottom: 5px;
  }
  .example-contents-container {
    padding: 8px;
    border: 1px solid $light-black;
  }
  .labels-container {
    flex-direction: row;
    border: 1px solid $light-black;
    border-top: 0px;
    padding: 0px 8px 8px;
    .more-label-icon {
      opacity: 0.7;
      width: 20px;
      height: 20px;
      box-sizing: border-box;
      padding: 2px;
      margin-bottom: -5px;
      visibility: hidden;
      opacity: 0;
      -webkit-transition: opacity 0.4s;
      transition: opacity 0.4s;
      cursor: pointer;
      &:active {
        visibility: visible;
      }
    }
  }
  .labels-container:hover > .more-label-icon {
    visibility: visible;
    opacity: 1;
  }
}