@import '../../default.scss';

.subgoal-collection-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 40px 12px 30px 12px;
  overflow-y: auto;
  box-sizing: border-box;
  .subgoal-see-more-button-container {
    width: calc(100% - 40px);
    height: 40px;
    margin: 0 auto;
  }
}