@import '../../default.scss';

.navbar-container {
  height: 66px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border: 0.5px solid $goalie-black;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  padding: 0 20px;
  background: $goalie-black;
  border-bottom: 1px solid $black;

  .navbar-inner-container {
    width: 1012px;
    display: flex;
    margin: 0 auto;

    .logo {
      height: 35px;
      margin: 21px 0;
      &:hover {
        cursor: pointer;
      }
    }

    .problem-title-container {
      display: flex;
      flex-direction: row;
      padding: 18px 0;
      margin-left: 30px;
      color: $gray;
      font-size: 20px;
      line-height: 30px;
      text-align: center;
      .problem-title {
        margin-left: 8px;
        color: $google-green;
        font-size: 20px;
        font-weight: bold;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    .search-and-sub-buttons {
      display: flex;
      padding: 18px 0;
      float: right;
      margin-left: auto;
      color: $white;

      .search-container {
        width: 260px;
        height: 30px;
        border: 1px solid #c8c8c8;
        display: inline-block;
        margin-right: 15px;
        padding: 5px 10px;
        box-sizing: border-box;

        .search-input {
          width: 215px;
          border: 0px solid;
          font-size: 12px;
        }

        .search-icon {
          width: 16px;
          height: 16px;
          float: right;
          margin-left: auto;

          &:hover {
            cursor: pointer;
          }
        }
      }
      
      .signin {
        line-height: 30px;
        text-align: center;
        margin-left: 15px;
        white-space: nowrap;
        &:hover {
          cursor: pointer;
        }
      }
      .welcome {
        display: flex;
        flex-direction: row;
        line-height: 30px;
        text-align: center;
        margin: 0 15px;
        white-space: nowrap;
        .account {
          margin-left: 4px;
          font-weight: bold;
          color: #5bbb;
          @media (max-width: $bp-mobile) {
            width: 80px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }
      }
    }
  }
}