@import '../../default.scss';

.info-table-entry-container {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  padding: 20px 25px;
  box-sizing: border-box;
  color: $dark-gray;
  // border-bottom: 1px solid #E9EcEf;
  // background-color: $light-gray;
  cursor: pointer;
  @media (max-width: $bp-laptop) {
    width: 100%;
  }
  .information-text {
    width: 100%;
    font-size: inherit;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
  }
}