@import '../../default.scss';

.problem-table-container {
  width: 1012px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  @media (max-width: $bp-laptop) {
    width: 100%;
  }
  .problem-table-loading-container {
    width: 100%;
    height: 440px;
    position: relative;
  }
}