@import '../../default.scss';

.problem-table-entry-container {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  padding: 20px 25px;
  box-sizing: border-box;
  color: $goalie-font;
  border-bottom: 1px solid #E9EcEf;
  cursor: pointer;
  @media (max-width: $bp-laptop) {
    width: 100%;
  }
  &:hover {
    background-color: #FCFCFC;
  }
  &.table-header {
    height: 40px;
    padding: 13px 25px;
    background-color: #F6F9FC;
    font-size: 12px !important;
    color: #8898AA;
    cursor: default;
    // border-bottom: 1px solid $gray;
  }
  .problem-number {
    width: 100px;
    font-size: inherit;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .problem-name {
    width: 700px;
    font-size: inherit;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .problem-correct-rate {
    width: 212px;
    font-size: inherit;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}