
$goalie-red: #ff2063;
$goalie-light-red: #ff5a5a;
$goalie-blue: #2f80ed;
$goalie-light-blue: #b3d4fc;
$goalie-black: #282c34;
$white: #ffffff;
$black: #000000;
$dark-gray: #9b9b9b;
$gray: #c7c7c7;
$light-gray: #f0f0f0;
$goalie-font: #4b4b4b;
$goalie-desc-font: #525F7F;

$bp-laptop: 1060px;
$bp-middle: 950px;
$bp-tablet: 900px;
$bp-mobile: 600px;

div, p {
  font-size: 14px;
}

input:focus, textarea {
  outline: none !important;
}