@import '../../../default.scss';

.subgoal-card-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
  .skeleton-container {
    width: 100%;
    height: 83px;
  }
  .step-text {
    font-size: 20px;
    font-weight: bold;
  }
  .subgoal-icons-container {
    display: flex;
    flex-direction: row;
    .subgoal-icons-only {
      display: flex;
      flex-direction: row;
      margin-top: 12px;
      visibility: hidden;
      opacity: 0;
      -webkit-transition: opacity 0.4s;
      transition: opacity 0.4s;
      .subgoal-minus-icon {
        width: 15px;
        height: 15px;
        opacity: 0.3;
        cursor: pointer;
      }
      .subgoal-plus-icon {
        width: 15px;
        height: 15px;
        opacity: 0.5;
        margin-left: 5px;
        cursor: pointer;
      }
      .subgoal-card-handle {
        height: 15px;
        opacity: 0.4;
        font-size: 18px;
        line-height: 12px;
        margin-left: 5px;
      }
    }
    
    .subgoal-card-textarea {
      width: 100%;
      font-size: 16px;
      border: none;
      background-color: $white;
      resize: none;      
    }
    .subgoal-card-textarea::placeholder {
      color: $gray;
    }
  }
  .subgoal-icons-container:hover > .subgoal-icons-only {
    visibility: visible;
    opacity: 1;
  }
  
}