@import '../../../default.scss';

.subgoal-card-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  .step-text {
    font-size: 20px;
    font-weight: bold;
  }
  .subgoal-icons-container {
    display: flex;
    flex-direction: row;
    .subgoal-icons-only {
      display: flex;
      flex-direction: row;
      margin-top: 12px;
      visibility: hidden;
      opacity: 0;
      -webkit-transition: opacity 0.4s;
      transition: opacity 0.4s;
      .subgoal-minus-icon {
        width: 15px;
        height: 15px;
        opacity: 0.3;
        cursor: pointer;
      }
      .subgoal-plus-icon {
        width: 15px;
        height: 15px;
        opacity: 0.5;
        margin-left: 5px;
        cursor: pointer;
      }
    }
    .subgoal-card-textarea {
      width: 100%;
      // box-sizing: border-box;
      font-size: 16px;
      border: none;
      background-color: $white;
      // box-shadow: 0 0 1px 0 rgba(0,0,0,0.02), 0 1px 3px 0 rgba(50,50,93,0.15);
      resize: none;
    }
  }
  .subgoal-icons-container:hover > .subgoal-icons-only {
    visibility: visible;
    opacity: 1;
  }
}